* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #f4f4f4;
  font-size: 1.3rem;
}

/* APP CONTAINER */
.app-container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  height: 60vh;
}

.navbar {
  text-transform: uppercase;
  background-color: #d7456b;
  border-bottom: 0.5rem solid #66ba30;
}

.navbar .navbar-brand {
  margin-right: 15%;
}

.navbar .collapse .form-inline input[type="search"] {
  padding: 1.8rem;
  width: 20rem;
}

.navbar .collapse .form-inline button[type="submit"] {
  padding: 0.75rem;
  width: 10rem;
  border-color: #fff;
  color: #000;
}

.navbar .collapse .form-inline button[type="submit"]:hover {
  background-color: #000;
  color: #fff;
}

.navbar .navbar-nav {
  width: 50%;
  justify-content: space-between;
}

.navbar .navbar-nav .nav-item {
  padding-top: 1rem;
}

.navbar .navbar-nav .nav-link {
  text-align: center;
  display: inline-block;
  padding: 1.01rem;
  /* padding-left: 1.8rem; */
  /* padding-right: 1rem; */
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.navbar .navbar-nav .nav-item:hover {
  border-bottom: 0.2rem solid #fff;
}

.navbar .navbar-toggler-icon {
  margin-bottom: 2.5rem;
}

/* Login Form */
#email, #password, #name, #passwordConfirm {
  padding: 2rem;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

#login-btn, #signup-btn, #forgot-password-btn, #reset-password-btn {
  padding: 1.2rem;
  border-radius: 1.5rem;
  width: 100%;
  background-color: #66ba30;
  color: #fff;
  text-transform: uppercase;
}

#login-btn:hover {
  opacity: 0.9;
}

.footer-container {
  background-color: #ddd;
  padding: 3rem 10rem 10rem 10rem;
}

#heart-emoji {
  color: #d7456b;
}

#company-name {
  color: steelblue;
}

/* SPINNER AND SPINNER TEXT */
#spinner {
  width: 15rem;
  height: 15rem;
  /* color: #66ba30; */
  /* color: #d7456b; */
}

#spinner-text {
  font-size: 2.5rem;
  /* color: #66ba30; */
  /* color: #d7456b; */
}

#menu {
  color: #66ba30;
}