* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #f4f4f4;
  font-size: 1.3rem;
}

/* APP CONTAINER */
.app-container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  min-height: 50vh;
  /* height: auto; */
}

.navbar {
  text-transform: uppercase;
  background-color: #d7456b;
  border-bottom: 0.5rem solid #66ba30;
}

.navbar .navbar-brand {
  margin-right: 15%;
}

.navbar .collapse .form-inline input[type="search"] {
  padding: 1.8rem;
  width: 20rem;
}

.navbar .collapse .form-inline button[type="submit"] {
  padding: 0.75rem;
  width: 10rem;
  border-color: #fff;
  color: #000;
}

.navbar .collapse .form-inline button[type="submit"]:hover {
  background-color: #000;
  color: #fff;
}

.navbar .navbar-nav {
  width: 50%;
  justify-content: space-between;
}

.navbar .navbar-nav .nav-item {
  padding-top: 1rem;
}

.navbar .navbar-nav .nav-link {
  text-align: center;
  display: inline-block;
  padding: 1.01rem;
  /* padding-left: 1.8rem; */
  /* padding-right: 1rem; */
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.navbar .navbar-nav .nav-link:hover {
  border-bottom: 0.2rem solid #fff;
}

.navbar .navbar-toggler-icon {
  margin-bottom: 2.5rem;
}

/* Login Form */
#email,
#password,
#name,
#passwordConfirm,
#password-current,
#password-new,
#price,
#discount,
#summary,
#description,
#spice-level,
#serving,
#image-cover,
#images
 {
  padding: 2rem;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

#login-btn,
#signup-btn,
#forgot-password-btn,
#reset-password-btn,
#update-profile-btn,
#update-password-btn,
#delete-account-btn,
#create-meal-btn {
  padding: 1.2rem;
  border-radius: 1.5rem;
  width: 100%;
  /* background-color: #66ba30; */
  background-color: #d7456b;
  color: #fff;
  text-transform: uppercase;
}

#google-login-btn {
  padding: 0.4rem;
  border-radius: 1.5rem;
  width: 100%;
  color: #1876d1;
  text-transform: uppercase;
  font-weight: bold;
  border-color: #1876d1;
}

#google-login-btn:hover {
  border-radius: 1.5rem;
  width: 100%;
  color: rgba(0,0,0, 0.5);
  text-transform: uppercase;
  background-color: #eee;
}

#login-btn:hover, #update-profile-btn:hover {
  opacity: 0.9;
}

.footer-container {
  background-color: #ddd;
  padding: 7rem 10rem 10rem 10rem;
  margin-top: 10rem;
}

#heart-emoji {
  color: #d7456b;
}

#company-name {
  color: steelblue;
}

/* SPINNER AND SPINNER TEXT */
#spinner {
  width: 15rem;
  height: 15rem;
  /* color: #66ba30; */
  /* color: #d7456b; */
}

#spinner-text {
  font-size: 2.5rem;
  /* color: #66ba30; */
  /* color: #d7456b; */
}

#menu {
  color: #66ba30;
}

/* PROFILE IMG */
#profile-img-item {
  padding: 0;
  cursor: pointer;
}

#profile-img-item .nav-link {
  padding: 0;
}

#profile-img-item .nav-link img {
  width: 5rem;
  height: 5rem;
  margin: 0;
  border-radius: 50%;
}

#profile-img-item .nav-link:hover {
  border: none;
}

#span-create-meal {
  color: #66ba30;
}

/* WEATHER ICON */
#weather-icon {
  width: 3rem;
  height: 3rem;
  margin: -1rem -0.5rem -1rem -1rem;
}

/* TEMPERATURE ICON */
#temp-container {
  margin-left: -1.5rem;
}

#temp-icon {
  width: 2.5rem;
  height: 1.5rem;
  margin-right: -0.5rem;
}

/* READ MORE BUTTON */
#read-more-btn {
  background-color: #d7456b;
  color: #fff;
}

#card {
  /* background-color: blue; */
  min-width: 30%;
  /* border-radius: 0.5rem;
  overflow: hidden; */
}


/* MEDIA QUERY */
@media (min-width: 992px) {
  #dish-div {
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 576px) {
  #dish-div {
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media (min-height: 400px) {
  #dish-div {
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
  }
}

.card-body .card-title {
  font-weight: bold;
}

/* CREATE MEAL */
.meal-input input[type="file"] {
  border: none;
  background: inherit;
  color: #f4f4f4;
}

/* BACK BUTTON */
#back-btn {
  background-color: #d7456b;
  color: #fff;
  width: 10rem;
}